name: Neo4j Aura Keep-Alive

on:
  schedule:
    # This runs at 00:00 UTC every day
    - cron: '0 0 * * *'
  workflow_dispatch: # Allows you to run it manually for testing

jobs:
  ping-db:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Aura via Vercel API
        run: |
          curl -I https://decoding-egwu.vercel.app/